<h1 class="text-center">JUEGOS DISPONIBLES</h1>


<div class="card mb-3 " style="max-width: 540px;" *ngFor="let auto of autos">
  <div class="row g-0">
    <div class="col-md-4">
      <a [routerLink]="['/auto',auto._id]">
      <img  class="img-fluid rounded-start" src="{{url+'get-imagen/'+auto.imagen}}" *ngIf="auto.imagen">
    </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{auto.nombre}}</h5>
        <p class="card-text">{{auto.precio}}</p>
      </div>
    </div>
  </div>
</div>
<!-- <div>
  <table class="table table-bordered border-primary ">
    <thead>
    <tr>

      <th class="text-center" scope="col">Imagen</th>
      <th class="text-center" scope="col">Nombre</th>
      <th class="text-center" scope="col">Precio</th>
    </tr>
    </thead>
    <tbody>

    <tr scope="col" *ngFor="let auto of autos">
      <td WIDTH="550" class="text-center">
        <a [routerLink]="['/auto',auto._id]">
          <img  class="imagenes" src="{{url+'get-imagen/'+auto.imagen}}" *ngIf="auto.imagen">
      </a>
      </td>

      <td class="text-center">{{auto.nombre}}</td>
      <td class="text-center">${{auto.precio}}</td>
    </tr>


    </tbody>
  </table>

</div> -->

